.card {
  width: 188px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.defenseMode {
  transform: rotate(90deg);
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;
}

// .cardButtonsContainer {
//   margin-top: 50px;
//   display: flex;
// }

// .zone {
//   transition: 0.3s;
//   cursor: pointer;
//   &:hover {
//     position: relative;
//     transition: 0.3s;
//     margin-top: 10px;
//     margin-bottom: -10px;
//   }
//   border: 1px solid white;
//   background: rgba($color: #000000, $alpha: 0.5);
//   height: 300px;
//   width: 188px;
//   img {
//     opacity: 0;
//   }
// }

// .defenseMode {
//   transform: rotate(90deg);
// }

// .attackMode {
//   height: 300px;
// }

// .monsterAtkDef {
//   background: rgba($color: #000000, $alpha: 0.5);
//   padding: 5px;
//   border: 1px solid rgba($color: #ffffff, $alpha: 1);
//   // border-radius: 4px;
//   text-align: center;
//   width: 188px;
//   color: white;
// }

// .negative {
//   color: red;
// }

// .positive {
//   color: green;
// }

// .actionIcon {
//   margin-right: 10px;
// }

// .rotate180 {
//   transform: rotate(180deg);
// }

// .flip {
//   transform: scaleY(-1);
// }
