.attack-script {
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0;
  // border-radius: 4px;
  border: 1px solid white;
}

.modalBg {
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  background-image: url("../../../assets/img/modalBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
